/* common border radius  */
#imdw-wrap, #current-page-info-wrap, #known-for-wrap, #credits-wrap {
	border-radius: 7px;
}

/* general dimensions */
#imdw-wrap {
	width: 835px;
	height: 645px;
}

#left-grid {
	width: 498px;
}

#credits-ui {
	width: 315px;
}

#graph-wrap {
	width: 250px;
}

/* end general dimensions */

#imdw-wrap {
	right: 0;
	z-index: 1001;
	position: absolute;
	display: none;
	justify-content: space-between;
	color: black;
	margin: 15px;
	padding: 10px;
	background-color: #EFEFEF;
	box-shadow: rgb(77 77 77 / 70%) 2px 2px 15px 6px;
	font-family: 'Roboto';
	cursor: default;
}

#imdw-wrap ::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}

#imdw-wrap ::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 1px;
	border-radius: 4px;
}

#left-grid {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#top-left-grid {
	display: flex;
}

#actor-photo {
	margin-right: 10px;
}

#actor-photo img {
	height: 225px;
}

#info-wrap {
	flex: auto;
	/* stretch out as child of parent */
	display: flex;
	flex-direction: column;
}

#actor-info-wrap {
	height: 100px;
	padding: 0;
	margin: 0 0 15px 10px;
}

#current-page-info-wrap {
	flex: auto;
	padding-right: 0;
	display: flex;
	flex-direction: column;
}

#current-page-info-wrap .item-group {
	flex: auto;
	background: white;
	border-radius: 7px;
	margin-right: 10px;
}

#left-middle-wrap {
	display: flex;
	justify-content: space-evenly;
}

#refresh-btn {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 10px;
}

#known-for-wrap {
	display: flex;
	overflow-x: auto;
}

.known-for {
	padding: 5px;
	margin: 7px;
	margin-left: 0;
	border: 2px inset #D8D8D8;
}

.known-for:first-child {
	margin-left: 0;
	/* this will remove the need for scrolling if there are 3 known-fors */
}

.known-for img {
	height: 215px;
}

#credits-ui {
	display: flex;
	flex-direction: column;
}

#credits-filter {
	margin-bottom: 10px;
}

#credits-filter input {
	width: 100%;
	font-size: 17px;
	padding-left: 5px;
	border-radius: 5px;
}

#clear-filter-btn {
	cursor: pointer;
	top: 13px;
	right: 15px;
	width: 20px;
	position: absolute;
}

#credits-wrap {
	/* can't use flex:auto b/c the graph (canvas element) ignores flexing */
	overflow-y: auto;
	background-color: #FCFCFC;
}

.item-group {
	/* TODO - call this .credit-item or something */
	height: 103px;
	padding: 8px 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.item-line {
	display: flex;
}

.item {
	display: inline-flex;
	align-items: center;
	margin-right: 10px;
}

.item span, .item a {
	height: 20px;
	padding-top: 2px;
}

.item span {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.item-line .item.col-1 {
	width: 80px;
}

.item-line .item.col-2 {
	width: 120px;
}

#imdw-wrap .item a {
	/* need imdw-wrap here to override long cast page styling */
	color: black;
	font-weight: bold;
	text-decoration: underline;
	overflow: hidden;
	max-width: 340px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.item-icon {
	width: 25px;
	margin-right: 10px;
	border-radius: 5px;
	background-color: #F5C518;
}

.actor-has-data::before {
	content: ".";
	font-size: 75px;
	color: #62B4F5;
	position: absolute;
	left: -15px;
	top: -15px;
}

/* for long cast page  */
td.actor-has-data {
	position: relative;
}

td.actor-has-data::before {
	z-index: 1;
	top: -20px;
	left: -13px;
	font-size: 50px;
	font-family: 'Roboto';
}

/* PROGRESS BAR */
#imdw-progress-bar {
	left: 5px;
	top: 25px;
	z-index: 1000; /*to get it over the very top header bar*/
	position: fixed;
	width: 230px;
	padding: 5px;
	cursor: default;
	font-size: 20px;
	text-align: center;
	font-family: 'Roboto';
	border-radius: 5px;
	background: aliceblue;
	box-shadow: 3px 3px 11px rgba(33,33,33,.2);
}