<style type="text/css">


/*
  CONCLUSION: doing this in css is a huge pain. 
  the JS option is much easier
*/

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 1px;
}

.horizontal-scroll-wrapper {
  width: 80px;
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(90deg) translateX(80px) translateY(-500px);
  transform-origin: right top;
}

.horizontal-scroll-wrapper>div {
  padding: 5px;
  background: #cab;
  transform: rotate(90deg);
  transform-origin: right top;
}

.squares {
  padding: 60px 0 0 0;
}

.squares>div {
  width: 60px;
  height: 60px;
  margin: 10px;
}
</style>

<div class="horizontal-scroll-wrapper squares">
  <div>item 1</div>
  <div>item 2</div>
  <div>item 3</div>
  <div>item 4</div>
  <div>item 5</div>
  <div>item 6</div>
  <div>item 7</div>
  <div>item 8</div>
</div>