<head>
	<script type="text/javascript" src="jquery-1.11.1.min.js"></script>

	<script type="text/javascript">
	$(document).ready(function() {
		const celeb =
			// ''; //thousands
			// ''; //a million
			'drew barrymore'; //millions
		// 'Michael Jordan'; //billions
		$.ajax({
			headers: {
				'X-Api-Key': 'oEXRoC7fqeHXAPzlU8qxYA==CTTuwIe1qoIZLC6m'
			},
			url: `https://api.api-ninjas.com/v1/celebrity?name=${celeb}`,
			success: function(result) {
				if (!result.length) {
					return '(No net worth data.)';
				}

				let worth = result[0].net_worth;

				const units = ['K', 'M', 'B', 'T'];

				let places = -1;
				while (worth > 1000) {
					places++;
					worth /= 1000
				}

				return `Net worth: $${worth} ${units[places]}`;
			}
		});
	});
	</script>
</head>

<body>

</body>