<div class="item-group">

	<div class="item">
		<img class="item-icon" src="movie.svg">
		<a href="/title/{{id}}" target="_blank" title="{{title}}">
			{{title}}
		</a>
	</div>

	<div class="item">
		<img class="item-icon" src="theatre.svg">
		<span title="{{character}}">{{character}}</span>
	</div>

	<div class="item-line">
		<div class="item col-1" {{has_birth_info}} title="Age then">
			<img class="item-icon" src="cake.svg">
			{{age}}
		</div>
		
		<div class="item col-1" {{has_no_birth_info}} title="No birth info">
			<img class="item-icon" src="no-info.svg">
		</div>

		<div class="item col-2">
			<img class="item-icon" src="date.svg">
			<span>{{year}}</span>
		</div>

		<div class="item" {{has_episodes}} title="Episodes">
			<img class="item-icon" src="television.svg">
			<span>{{episode_count}}</span>
		</div>
	</div>

	<div style="display: none">
		{{year_span}}
	</div>
</div>