<div id="imdw-wrap">

	<div id="left-grid">

		<div id="top-left-grid">

			<div id="actor-photo">
				<a href="/name/{{id}}" target="_blank">
					<img src="{{photo}}">
				</a>
			</div>

			<div id="info-wrap">
				<div id="actor-info-wrap" class="item-group">
					<div class="item">
						<img class="item-icon" src="person.svg">
						<a href="/name/{{id}}/" target="_blank">{{name}}</a>
					</div>

					<div class="item-line">
						<div class="item col-1" title="Acting credits">
							<img class="item-icon" src="theatre.svg">
							{{acting_credit_count}}
						</div>

						<div class="item col-2"  title="Total credits">
							<img class="item-icon" src="list.svg">
							{{total_credit_count}}
						</div>
					</div>

					<div class="item-line">
						<div class="item col-1" {{has_life}} title="Age now">
							<img class="item-icon" src="cake.svg">
							{{age}}
						</div>

						<div class="item col-1" {{has_after_life}} title="Died: {{death_place}}">
							<img class="item-icon" src="coffin.svg">
							{{death_age}}
						</div>

						<div class="item col-1" {{has_no_birth_info}} title="No birth info">
							<img class="item-icon" src="no-info.svg">
						</div>

						<!-- the no-info above replaces the age icon, the one below replaces the birth icon -->

						<div class="item col-2" {{has_birth_info}} title="Born: {{birth_place}}">
							<img class="item-icon" src="stroller.svg">
							{{birth_year}}
						</div>

						<div class="item col-2" {{has_no_birth_info}} title="No birth info">
							<img class="item-icon" src="no-info.svg">
						</div>

						<div class="item" {{has_net_worth}} title="Net Worth (api-ninjas.com)">
							<img class="item-icon" src="chart.svg">
							{{net_worth}}
						</div>

						<div class="item" {{has_no_net_worth}} title="No net worth available">
							<img class="item-icon" src="no-money.svg">
						</div>
					</div>
				</div>

				<div id="current-page-info-wrap"></div>
			</div>
		</div>

		<div id="left-middle-wrap">
			<div id="refresh-btn">
				<img src="refresh.svg" id="refresh-icon">
				<div id="refresh-label">Refresh</div>
			</div>

			<div id="graph-wrap">
				<canvas id="actor-workgraph"></canvas>
			</div>
		</div>

		<div id="known-for-wrap"></div>
	</div>

	<div id="credits-ui">
		<div id="credits-filter">
			<img id="clear-filter-btn" src="clear.svg" style="display:none">
			<input placeholder="Filter credits" type="text" />
		</div>
		<div id="credits-wrap"></div>
	</div>
